
.anotacion__titulo{
    font-weight: bold;
    margin-bottom: 1rem;
}

.funcionario__datos{
    display: flex;
    flex-direction: column;
    font-size: var(--sm);
    margin-bottom: 1rem;
    width: 90%;
}

.funcionario__nombre{
    align-items: center;
    display: flex;
    margin-bottom: 0.3rem;
}

.funcionario__nombre label,
.funcionario__idCompania label{
    padding: 0.27rem;
}

.textbox1{
    flex-grow: 3;
}

.textbox2{
    width: 5rem;
}

.funcionario__idCompania{
    display: flex;
    justify-content: start;
    width: 100%;
}

.funcionario__id, .funcionario__compania{
    align-items: center;
    display: flex;
}

.funcionario__data{
    border: none;
    border-radius: 4px;
    padding: 0.27rem;
}

.bloque__accion{
    font-size: var(--lg);
    width: 5rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.anotacion__datos{
    background: var(--dark);
    border-radius: 8px;
    color: var(--light);
    display: flex;
    flex-direction: column;
    font-size: var(--sm);
    gap: 0.4rem;
    letter-spacing: 0.1rem;
    padding: 0.75rem;
    width: 90%;
}

.anotacion__datos input, textarea{
    border-radius: 4px;
    padding: 0.25rem;
}

.container__fecha, .container__hora{
    align-items: center;
    display: flex;
    justify-content:end;
    width: 100%;
}

.anotacion__fecha, .anotacion__hora{
    margin-left: 0.75rem;
    width: 10rem;
}

.container__soporte{
    display: flex;
    flex-direction: column;
}

.soporte__label{
    margin-bottom: 0.5rem;
}

.anotacion__btnagregar{
    background: var(--light);
    color: var(--black);
    font-weight: bold;
    letter-spacing: 0.1rem;
}

@media screen and (min-width: 768px) {
    
    .bloque__accion{
        width: 15rem;
        align-items: center;
    }

    .anotacion__titulo{
        font-size: var(--md);
    }
    
    .anotacion__datos{
        gap: 0.75rem;
        letter-spacing: 0.15rem;
        padding: 1rem;
    }
    .anotacion__datos input, textarea{
        padding: 0.75rem;
    }

}

@media screen and (min-width: 1024px) {
    .anotacion__titulo{
        font-size: var(--lg);
    }

    .funcionario__datos{
        background: var(--medium-light);
        border-radius: 8px;
        font-size: var(--md);
        padding: 0.75rem;
        width: 70%;
    }

    .textbox2{
        width: 8rem;
    }
    .funcionario__nombre{
        margin-bottom: 0.5rem;
    }

    .funcionario__data{
        padding: 0.45rem;
    }

    .bloque__accion{
        font-size: var(--xl);
        width: 15rem;
        margin-left: auto;
    }

    .anotacion__datos input, textarea{
        padding: 0.5rem;
    }
    .anotacion__datos{
        font-size: var(--md);
        width: 70%;
        gap: 0.25rem;
        padding: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    .funcionario__datos{
        width: 50%;
    }
    .anotacion__datos{
        width: 50%;
    }
}

