
body{
    background: var(--light);
    font-family: var(--fuente1);
    font-size: var(--md);
}

.container{
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 12.2rem);
    margin: 30px 0px;
    width: 100%;
}

.btn-submit{
    background: var(--dark);
    border-radius: 8px;
    color: var(--black);
    font-size: var(--md);
    margin: 1rem auto;
    padding: 0.7rem;
    width: 50%;  
}

.btn-submit:hover{
    transform: scale(1.01);
}

@media screen and (min-width: 1024px) {
    .container{
        /* min-height: calc(100vh - 13rem); */
        margin-bottom: 5rem;

    }
}


@media screen and (min-width: 1280px) {
    .container{
        margin-bottom: 5rem;
    }
    .btn-submit{
        font-size: var(--lg);
        width: 25%;  
    }
}
