
body{
    background: var(--light);
    font-family: var(--fuente1);
    font-size: var(--md);
}

.container{
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 150px);
    margin: 30px 0px 120px;
    width: 100%;
}

